<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserDao">


    <!--<select id="selectShoop" parameterType="userData">-->
        <!--select * from shooping_cart where u_id=#{userDate.userId}-->
    <!--</select>-->

    <!--
        useGeneratedKeys：必须设置为true，否则无法获取到主键id。
        keyProperty：设置为POJO对象的主键id属性名称。可以接受selectKey子元素返回的值
        keyColumn：设置为数据库记录的主键id字段名称。
        以上方式不适用于Oracle
     -->
    <insert id="addUserData" parameterType="entitys.UserData" useGeneratedKeys="true" keyProperty="userId" keyColumn="u_id">
          insert into u_data(u_name,u_pwd)
          values(#{userName},#{passWord})
    </insert>
    <insert id="addUserInfor" parameterType="entitys.UserInfor" useGeneratedKeys="true" keyProperty="userInforId" keyColumn="u_infor_id">
        insert into u_infor(u_id,address,phone)
        values(#{userData.userId},#{address},#{phone})
    </insert>

    <delete id="deleteUserInfor" parameterType="entitys.UserInfor">
        delete from u_infor where u_infor_id=#{userInforId}
    </delete>
    <update id="updateUserInfor" parameterType="entitys.UserInfor">
        update u_infor set where u_infor_id=#{userInforId}
    </update>
</mapper>