<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<typeAliases>-->
        <!--<typeAlias alias="UserData" type="main.java.entitys.UserData" />-->
        <!--<typeAlias alias="OrderForm" type="main.java.entitys.OrderForm"/>-->
        <!--<typeAlias alias="Producet" type="main.java.entitys.Producett"/>-->
        <!--<typeAlias alias="ShoopingCart" type="main.java.entitys.ShoopingCart"/>-->
        <!--<typeAlias alias="UserInfor" type="main.java.entitys.UserInfor"/>-->
        <!--<typeAlias alias="Vendors" type="main.java.entitys.Vendors"/>-->
    <!--</typeAliases>-->
    <environments default="development">
        <environment id="mysql">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/shoop?characterEncoding=utf-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;allowMultiQueries=true" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="dao/UserDaoMapper.xml"></mapper>
    </mappers>
</configuration>